
// -----------------------------------------project vars

// $lightgreen: ;
// $fontcolor: ;
// $bgColor: ;

// $titleFont: ;
// $textFont: 
// $buttonFont: ;

// -----------------------------------------grid settings
$grid-gutter-width: 20px !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 959px,
  xl: 960px
);

.w-100 {
  width: 100%;
}

//----------------------------------------------rem settings
 
// 1rem = 10px
:root {
    font-size: 62.5%;
  }
  $remWidth: 1rem;
  @function rem($n) {
    @return $n / 10 * $remWidth;
  }
