.about-us__article {
  margin: 0 auto;
  text-align: center;
}

.about-us__img {
  display: none;
}

.article__title {
  margin-bottom: rem(25);
}

.article__discript {
  margin-bottom: rem(25);
}

.article__button {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about-us__img {
    display: block;
    margin-left: rem(60);
  }
  .article__button {
    margin: 0;
  }

  .about-us__article {
    text-align: left;
  }
}
