.masthead-wrapper {
  background: linear-gradient(
      to right,
      rgba(9, 5, 47, 0.85) 0%,
      rgba(49, 29, 94, 0.85) 100%
    ),
    url("../img/headerBg.jpg") center/cover no-repeat;
}

.masthead {
  flex-direction: column;
  align-items: center;
  padding-top: rem(14);
}

.masthead__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: rem(50);
}

.masthead__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  margin-bottom: rem(20);
}

.logo-link {
  display: inline-block;
}

.header-nav__nav-list {
  margin: 0;
  padding: 0;
}

.nav-list__nav-item {
  list-style: none;
  margin-bottom: rem(10);

  &:last-child {
    margin: 0;
  }
}

.nav-item__link {
  color: white;
  text-decoration: none;
  font-size: rem(14);
  font-family: $textFont;

  &:hover {
    color: #4ec6ab;
    text-decoration: none;
  }
}

.masthead__banner {
  margin-bottom: rem(50);
}

.banner__title {
  font-family: $titleFont;
  font-size: rem(32);
  color: white;
  margin-bottom: rem(25);

  &:after {
    content: "";
    display: block;
    border-bottom: 1px solid #4ec6ab;
    margin: rem(25) auto 0 auto;
    width: rem(50);
  }
}

.banner__discript {
  color: white;
  margin-bottom: rem(50);
}

.masthead__pagn-list {
  @include ul-nav;
}

.pagn-list__pagn-item {
  border: 1px solid white;
  background: transparent;
  border-radius: 50%;
  width: rem(10);
  height: rem(10);
  margin-right: rem(5);

  &:last-child {
    margin: 0;
  }

  &:hover {
    border: none;
    background-color: #4ec6ab;
  }
}

@media screen and (min-width: 768px) {
  .masthead__header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: rem(165);
  }

  .header-nav__nav-list {
    @include ul-nav;
  }

  .nav-list__nav-item {
    list-style: none;
    margin: 0 rem(20) 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .masthead__banner {
    margin-bottom: rem(125);
  }
}
