@import "vars";
@import "fonts";
@import "libs";
@import "mixins";

body {
  font-size: rem(14);
}

.box {
  background-color: aquamarine;
  width: rem(100);
  height: rem(100);
}

.box2 {
  background-color: rebeccapurple;
  width: rem(100);
  height: rem(100);
}


.box3 {
  background-color: brown;
  width: rem(100);
  height: rem(100);
}










