.masthead-wrapper {
  background-color: gray;
  background: url("../img/slider-banner.jpg") center/cover no-repeat;
  box-sizing: border-box;
  padding: 35px 0;
}

.masthead-header {
  display: flex;
  align-items: center;
  margin-bottom: 300px;
}

.masthead-logo {
  display: block;
  flex-basis: 17%;
}

.masthead-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 70%;
}

.nav-items {
  @include ul-nav;
}

.nav-item {
  margin-right: 30px;
  &:last-child {
    margin: 0;
  }
}

.nav-link {
  color: white;
  font-size: 14px;
  font-family: $semiFont;
  font-weight: 200;

  &:hover {
    color: $semiBrown;
  }
}

.masthead-menu__button,
.masthead-search__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
  flex-basis: 3%;
  margin-left: 50px;
}

.masthead-search__button {
  margin-left: 20px;
}

.search_icon,
.menu_icon {
  width: 25px;
  height: 25px;
  fill: white;
}
// ------------------------------------banner

.banner-section {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 300px auto;
  color: #fff;
}

.banner__sub-title {
  font: $mainFont;
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.banner__title {
  font: $mainFont;
  font-size: 52px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.banner__text {
  font: $semiFont;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 50px 0;
}

.banner__button {
  @include button;
}
// ----------------------------------footer

.masthead-footer {
  display: flex;
  justify-content: center;
}

.masthead-pagination {
  @include ul-nav;
}

.pagination-item {
  a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);

    &:hover {
      border: 2px solid $semiBrown;
      background: transparent;
    }
  }
}
