.logo-section-wrapper {
  background: url(../img/logos-bg.jpg) 50%/cover no-repeat;
}

.logo-section {
  padding: 130px 0;
}

.logo-item-container {
    display: flex;
    align-items: center;
}

