@mixin ul-nav {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}

@mixin input-style {
  border: 1px solid #dbdada;
  border-radius: 5px;

  font-weight: 100;
  color: #4a454b;
  outline: none;
  padding-left: 10px;

  &:focus {
    border: 1px solid #90d23d;
  }

  &::-webkit-input-placeholder {
    color: #dbdada;
  }
  &:-ms-input-placeholder {
    color: #dbdada;
  }
  &::-ms-input-placeholder {
    color: #dbdada;
  }
  &::placeholder {
    color: #dbdada;
  }
}

//  position relative parent!!!
@mixin trans-back-after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0px;
  left: 0px;
}

@mixin button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 170px;
  height: 50px;
  background-color: $mainBrown;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(115, 99, 87, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(115, 99, 87, 1);
  box-shadow: 0px 2px 0px 0px rgba(115, 99, 87, 1);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font: $mainFont;
}
