.promise-section-wrapper {
  background-color: #fbfaf8;
}

.promise-section {
  padding-top: 80px;
}

.header {
  margin: 0 auto 30px auto;
}

.header-title {
  font-size: 30px;
  font-family: $mainFont;
  font-weight: 500;
  color: $mainGray;
  margin: 0 0 30px 0;
  text-align: center;
}

.header-text {
  font-family: $semiFont;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  color: $semiGray;
  line-height: 25px; 
}

.promise-img {
  width: 100%;
}


