.rate-section-wrapper {
  padding: 45px 0;
  background: #211c19; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #211c19 0%,
    #241c1a 3%,
    #231b18 9%,
    #251d1a 9%,
    #271d1b 18%,
    #25201c 19%,
    #291e1a 20%,
    #281f1a 21%,
    #281e1c 21%,
    #2a201e 22%,
    #29201b 23%,
    #2d221e 30%,
    #2d221e 32%,
    #2d231a 32%,
    #2d221c 34%,
    #332620 41%,
    #34251e 45%,
    #3a2921 54%,
    #3a2720 57%,
    #3b2a22 57%,
    #3c2a1e 57%,
    #3d2a23 59%,
    #412d22 70%,
    #442e23 71%,
    #422e23 72%,
    #473126 79%,
    #483024 82%,
    #493326 82%,
    #493125 87%,
    #4e3427 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #211c19 0%,
    #241c1a 3%,
    #231b18 9%,
    #251d1a 9%,
    #271d1b 18%,
    #25201c 19%,
    #291e1a 20%,
    #281f1a 21%,
    #281e1c 21%,
    #2a201e 22%,
    #29201b 23%,
    #2d221e 30%,
    #2d221e 32%,
    #2d231a 32%,
    #2d221c 34%,
    #332620 41%,
    #34251e 45%,
    #3a2921 54%,
    #3a2720 57%,
    #3b2a22 57%,
    #3c2a1e 57%,
    #3d2a23 59%,
    #412d22 70%,
    #442e23 71%,
    #422e23 72%,
    #473126 79%,
    #483024 82%,
    #493326 82%,
    #493125 87%,
    #4e3427 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #211c19 0%,
    #241c1a 3%,
    #231b18 9%,
    #251d1a 9%,
    #271d1b 18%,
    #25201c 19%,
    #291e1a 20%,
    #281f1a 21%,
    #281e1c 21%,
    #2a201e 22%,
    #29201b 23%,
    #2d221e 30%,
    #2d221e 32%,
    #2d231a 32%,
    #2d221c 34%,
    #332620 41%,
    #34251e 45%,
    #3a2921 54%,
    #3a2720 57%,
    #3b2a22 57%,
    #3c2a1e 57%,
    #3d2a23 59%,
    #412d22 70%,
    #442e23 71%,
    #422e23 72%,
    #473126 79%,
    #483024 82%,
    #493326 82%,
    #493125 87%,
    #4e3427 100%
  );
}
.rate-section {
  padding: 0 30px;
  justify-content: space-between;
}
.rate-title {
  color: #fff;
  font-family: $mainFont;
  font-weight: 300;
  margin: 0 0 5px 0;
}
.rate-text {
  color: #615855;
  font-family: $semiFont;
  margin: 0;
}
.title_start {
  color: $semiBrown;
}
.rate-button {
  @include button;
  font-family: $mainFont;
}
