* {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  border: 1px solid black;
}

.container {
  width: 500px;
  margin: 0 auto;
}
